.navbar {
  display: flex;
  align-items: center;
  // justify-content: space-between;

  background-color: $color-white;
  padding: 1rem 0;
  width: 100%;
  height: 7rem;
  box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.11);

  @include respond(phone) { 
    flex-direction: column;
    min-height: 17rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-tertiary-dark;
    color: $color-white;
    height: 7rem;
    width: 29.7rem;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 0 3rem;

    @include respond(phone) { 
      flex-direction: column;
      justify-content: flex-start;
    }

    .search {
      display: flex;

      color: $color-grey-light-3;

      div {
        display: flex;
        align-items: center;

        width: 1rem;
        margin-right: -1rem;

        i {
          z-index: 5;
        }
      }

      input {
        color: $color-grey-light-3;
        border: none;
        height: 6rem;
        padding-left: 4rem;
      }
    }

    .user-area {
      display: flex;
      align-items: center;

      img {
        width: 5rem;
        height: 5rem;
      }

      span {
        font-size: 1.4rem;
        margin-right: 1rem;
      }

      i {
        font-size: 1.4rem;
        margin-left: 4rem;
        color: $color-grey-light-3;
      }

      p {
        font-size: 2rem;
        font-weight: 100;
        margin-left: 4rem;
        margin-right: 2rem;
        color: $color-grey-light-3;
      }
    }
  }
}
