.info {
  display: flex;

  .circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: -5rem;
    background-color: $color-tertiary-dark;
    z-index: 2;
  }

  .rectangle {
    padding-left: 7rem;
    width: 25rem;
    height: 10rem;
    background-color: $color-white;
  }
}
