/*
0 - 600px:        Phone
600 - 9000px      Tablet portrait
900 - 12000px     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :         Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > pag layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  min-height: 100vh;
  background-color: #eee; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

.info {
  display: flex; }
  .info .circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: -5rem;
    background-color: #5643fa;
    z-index: 2; }
  .info .rectangle {
    padding-left: 7rem;
    width: 25rem;
    height: 10rem;
    background-color: #fff; }

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem 0;
  width: 100%;
  height: 7rem;
  box-shadow: -1px 7px 5px -1px rgba(0, 0, 0, 0.11); }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      flex-direction: column;
      min-height: 17rem; } }
  .navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5643fa;
    color: #fff;
    height: 7rem;
    width: 29.7rem;
    font-size: 1.7rem;
    font-weight: bold; }
  .navbar .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar .content {
        flex-direction: column;
        justify-content: flex-start; } }
    .navbar .content .search {
      display: flex;
      color: #aca5a5; }
      .navbar .content .search div {
        display: flex;
        align-items: center;
        width: 1rem;
        margin-right: -1rem; }
        .navbar .content .search div i {
          z-index: 5; }
      .navbar .content .search input {
        color: #aca5a5;
        border: none;
        height: 6rem;
        padding-left: 4rem; }
    .navbar .content .user-area {
      display: flex;
      align-items: center; }
      .navbar .content .user-area img {
        width: 5rem;
        height: 5rem; }
      .navbar .content .user-area span {
        font-size: 1.4rem;
        margin-right: 1rem; }
      .navbar .content .user-area i {
        font-size: 1.4rem;
        margin-left: 4rem;
        color: #aca5a5; }
      .navbar .content .user-area p {
        font-size: 2rem;
        font-weight: 100;
        margin-left: 4rem;
        margin-right: 2rem;
        color: #aca5a5; }

.content-home {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content-home {
      flex-direction: column; } }
  .content-home .side-navbar {
    height: calc(100vh - 7rem);
    width: 29.7rem;
    background-color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .content-home .side-navbar {
        width: 100%;
        height: 5rem; } }
    .content-home .side-navbar ul {
      height: 100%;
      padding-top: 3rem;
      text-decoration: none;
      box-shadow: 7px 1px 5px -2px rgba(0, 0, 0, 0.09); }
      @media only screen and (max-width: 56.25em) {
        .content-home .side-navbar ul {
          display: flex;
          padding: 0; } }
      .content-home .side-navbar ul .active {
        background-color: #f7f7f7;
        border-right: 0.5rem #5643fa solid;
        color: #000; }
      .content-home .side-navbar ul li {
        display: flex;
        align-items: center;
        color: #a8a4a4;
        cursor: pointer;
        height: 5rem;
        padding-left: 2rem;
        transition: all .2s; }
        @media only screen and (max-width: 56.25em) {
          .content-home .side-navbar ul li {
            margin-right: 1rem;
            min-width: 20rem;
            border-right: none !important; } }
        .content-home .side-navbar ul li i {
          margin-right: 2rem;
          font-size: 1.5rem; }
        .content-home .side-navbar ul li span {
          font-size: 1.5rem; }
      .content-home .side-navbar ul li:hover {
        color: #000;
        background-color: #f7f7f7;
        border-right: 0.5rem #5643fa solid; }
  .content-home .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    width: 100%;
    padding: 0 1rem; }
