.content-home {
  display: flex;

  @include respond(tab-port) { 
    flex-direction: column;
  }

  .side-navbar {
    height: calc(100vh - 7rem);
    width: 29.7rem;
    background-color: $color-white;

    @include respond(tab-port) { 
      width: 100%;
      height: 5rem;
    }

    ul {
      height: 100%;
      padding-top: 3rem;
      text-decoration: none;
      box-shadow: 7px 1px 5px -2px rgba(0,0,0,0.09);
      
      @include respond(tab-port) { 
        display: flex;
        padding: 0;
      }

      .active {
        background-color: $color-grey-light-1;
        border-right: .5rem $color-tertiary-dark solid;
        color: $color-black;
      }

      li {
        display: flex;
        align-items: center;

        color: $color-grey-light-4;
        cursor: pointer;
        height: 5rem;
        padding-left: 2rem;
        transition: all .2s;

        @include respond(tab-port) { 
          margin-right: 1rem;
          min-width: 20rem;
          border-right: none !important;
        }

        i {
          margin-right: 2rem;
          font-size: 1.5rem;
        }

        span {
          font-size: 1.5rem;
        }
      }

      li:hover {
        color: $color-black;
        background-color: $color-grey-light-1;
        border-right: .5rem $color-tertiary-dark solid;
      }
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 3rem;
    width: 100%;
    padding: 0 1rem;
  }
}
